header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 8px;
    box-shadow: 0 3px 5px black;
    border-radius: 5px;

    nav {
        display: flex;

        a {
            margin:0 16px;
            text-decoration: none;
            color:orange;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}